# Mobile Source Only
android/
ios/
node_modules/
.expo/
dist/

# Exclude sibling folders in the repo
../backend/
../.git/

# Translation and labels
translate.js
extractLabels.js
applyTranslations.js
node_modules/

